# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

AVREstacionaMicros/Debug/AVREstacionaMicros.elf
AVREstacionaMicros/.vs/AVREstacionaMicros/v14/.atsuo
AVREstacionaMicros/Debug/AVREstacionaMicros.elf
AVREstacionaMicros/Debug/AVREstacionaMicros.lss
AVREstacionaMicros/Debug/AVREstacionaMicros.srec
AVREstacionaMicros/Debug/Makefile

